.error-message{
    font-size: 13px;
    color: red;
    animation: fadeDown 0.2s linear;
}

@keyframes fadeDown {
    from {
        transform: translateY(-10px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}